body, html {
    background-color: black;
    color: white;

    font-family: 'JetBrains Mono', monospace;

    margin: auto;

    height: 100%;

    transition: background-color 0.2s;
    transition: color 0.2s;
}

.table-entries {
    margin: auto;
    min-width: 400px;
    max-width: 100%;

    border-collapse: collapse;
}

th, table {
    border: 1px solid white;
}

th {
    padding: 5px;
}

.newentry {
    display: flex;
    flex-direction: column;
}

a {
    color: aqua;
}

.user-show {
    display: flex;
    flex-direction: column;
}

.word {
    text-align: center;
    font-size: 40px;
}

.user-show {
    text-align: center;
}